<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Data.Title}}</title>
    <!-- style -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/c7e7d73902.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg fixed-top bg-yellow">
      <div class="container-lg">
        <a class="navbar-brand me-3" href="/home">
          <img src="/public/assets/img/logo.png" alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
              <a href="/add-project" class="nav-link">Add Project</a>
            </li>
          </ul>
          <div>
            <div class="d-flex contact-me">
              <a href="/contact-me" class="ms-auto">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- form start -->
    <div class="container">
      <div class="mx-auto mar-top px-5 text-yellow form-container">
        <form action="/edit-project-form/{{.proDetail.Id}}" method="POST">
          <h1 class="fw-bold text-center mb-4">ADD MY PROJECT</h1>

          <!-- title -->
          <div class="mb-3">
            <label for="project-name" class="form-label fw-semibold"
              >Project Name</label
            >
            <input
              type="text"
              id="project-name"
              class="form-control box-shadow" name="name" value="{{.proDetail.Name}}" />
          </div>
          <!-- end -->

          <!-- duration -->
          <div class="mb-3 row">
            <div class="col">
              <label for="start-date" class="form-label fw-semibold"
                >Start Date</label
              >
              <input
                type="date"
                name="start-date"
                id="start-date"
                class="form-control box-shadow" value="{{.proDetail.StartDate}}" />
            </div>
            <div class="col">
              <label for="end-date" class="form-label fw-semibold"
                >End Date</label
              >
              <input
                type="date"
                name="end-date"
                id="end-date"
                class="form-control box-shadow" value="{{.proDetail.EndDate}}" />
            </div>
          </div>
          <!-- end -->

          <!-- description -->
          <div class="mb-3">
            <label for="description" class="form-label fw-semibold"
              >Description</label
            >
            <textarea
              name="desc"
              id="description"
              class="form-control box-shadow">{{.proDetail.Desc}}</textarea>
          </div>
          <!-- end -->

          <!-- checkbox -->
          <div class="mb-3">
            <label for="tech" class="form-label fw-semibold"
              >Technologies</label
            >

            <div class="row row-cols-2 ms-0 me-auto mb-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="col form-check-input check-border box-shadow"
                  value="fa-brands fa-node"
                  id="node" name="tech" />
                <label for="node">Node Js</label>
              </div>

              <div class="form-check">
                <input
                  type="checkbox"
                  class="col form-check-input check-border box-shadow"
                  value="fa-brands fa-react"
                  id="react" name="tech" />
                <label for="react">React Js</label>
              </div>

              <div class="form-check">
                <input
                  type="checkbox"
                  class="col form-check-input check-border box-shadow"
                  value="fa-brands fa-vuejs"
                  id="vue" name="tech" />
                <label for="vue">Vue Js</label>
              </div>

              <div class="form-check">
                <input
                  type="checkbox"
                  class="col form-check-input check-border box-shadow"
                  value="fa-brands fa-angular"
                  id="angular" name="tech" />
                <label for="angular">Angular</label>
              </div>
            </div>
          </div>
          <!-- end -->

          <!-- image upload -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Upload Image</label>
            <div class="my-2">
              <img src="/public/assets/img/img.jpg" alt="image" style="width: 20rem;">
            </div>
            <div class="input-group mb-3">
              <input
                type="file"
                id="inputImageProject"
                class="form-control box-shadow text-oxblue" />
              <label
                for="inputImageProject"
                class="input-group-text border-start-0 box-shadow"
                ><img src="/public/assets/img/file.png" alt="file"
              /></label>
            </div>
          </div>
          <!-- end -->

          <!-- submit button -->
          <div class="d-flex justify-content-end mb-5">
            <button
              type="submit"
              class="btn btn-submit rounded-pill fw-semibold mt-4">
              Update
            </button>
          </div>
          <!-- end -->
        </form>
      </div>
    </div>
    <!-- form end -->
  </body>

  <!-- javascript -->
  <!-- <script src="/public/assets/js/my-project.js"></script> -->
</html>
